/* 
    Home.css
    by Anna Lawson, Anfal Boussayoud, Lauren Tom, Nina Sabado 
*/

/****************** Home Page ******************/
/* Home page Description */
#intro-p {
	font-size: 14px;
	margin-top: 40px;
}

.home-content {
	display: none;
}

.home-content.selected {
	display:block;
}

#error-message {
	color: red;
}

/* Form inputs */
#loc-form-div {
	display:inline-block;
	vertical-align:top;
}
#loc {
	width: 555px;
	height: 18px;
	display:inline-block;
}

#make-loc-buttons-div {
    display:inline-block;
}

#weatherify-loc, #opposite-weatherify-loc {
    display: block;
    margin-bottom: 5px;
}

#mood-loc {
	display: inline-block;
}

#mood {
	width: 200px;
	display:inline-block;
}

.type-form {
	display: none;
}

.type-form.selected {
	display:block;
}

/* Description of weather */
#weather-report {
	display:inline-block;
}