/* 
    New-playlist.css
    by Anna Lawson, Anfal Boussayoud, Lauren Tom, Nina Sabado 
*/

/********** Current Playlist **************/

/* Enclosing div */
#view-one {
	width: 640px;
}

/* Headers w/ basic info*/
#playlist-top-bar {
	width: 640px;
	margin-bottom: 10px;
}
#playlist-top-bar a{
	text-decoration: none;
}

#playlist-name {
	display:inline-block;
}

#playlist-rename-delete-div {
	display: inline-block;
}

#intro-p {
	font-size: 14px;
	margin-top: 40px;
}

/* Description of weather */
#weather-report {
	display:inline-block;
}

/* Positive system status message */
#loading-message {
	margin-top: 40px;
	margin-left: 40px;
}

/* Save Features */
#save-button-div {
	display: inline-block;
}
#save-playlist-button {
	display: inline-block;
	margin-left: 10px;
}

#saved-message {
	font-style:italic;
}

/* Dropdown drawers */
#drawers {
	height: 40px;
}

#options-tab, #add-and-remove-tab {
	float: right;
	margin-top: 30px;
	margin-bottom: 10px;
	margin-left: 5px;
}

/* refresh button */
#weatherify-button {
	margin-bottom: 15px;
}

#error-message {
	color: red;
}


/* Delete Songs features */
.table-song-name {
	font-weight: bold;
}
#delete-buttons-div {
	width: 40px;
	display:inline-block;
}

/* Button to search for songs to add to playlist */
#open-search-button {
    margin-left: 5px;
}


/********************************** View All Playlists **********************/
.group-name {
    margin-right: 10px;
}

.one-of-many-playlist-div small{
	margin-right: 5px;
}
