/* 
    New-playlist.css
    by Anna Lawson, Anfal Boussayoud, Lauren Tom, Nina Sabado 
*/

/********** Current Playlist **************/

/* Enclosing div */
#view-one {
	width: 640px;
}

/* Headers w/ basic info*/
#playlist-top-bar {
	width: 640px;
	margin-bottom: 10px;
}

#playlist-name {
	display:inline-block;
}

#intro-p {
	font-size: 14px;
	margin-top: 40px;
}

/* Dropdown drawers */
#drawers {
	height: 40px;
}

.table-song-name {
	font-weight: bold;
}

#options-tab, #add-and-remove-tab {
	float: right;
	margin-top: 30px;
	margin-bottom: 10px;
	margin-left: 5px;
}

#error-message {
	color: red;
}

#delete-buttons-div {
	width: 40px;
	display:inline-block;
}

#loading-message {
	margin-top: 40px;
	margin-left: 40px;
}


/* Description of weather */
#weather-report {
	display:inline-block;
}

/* Button to search for songs to add to playlist */
#open-search-button {
    position: fixed;
    bottom: 70px;
    margin-left: 5px;
}

#save-button-div {
	display: inline-block;
}
#save-playlist-button {
	display: inline-block;
	margin-left: 10px;
}

#saved-message {
	font-style:italic;
}