/* 
    New-playlist.css
    by Anna Lawson, Anfal Boussayoud, Lauren Tom, Nina Sabado 
*/

/********** Current Playlist **************/

/* Enclosing div */
#view-one {
	width: 640px;
}

/* Headers w/ basic info*/
#playlist-top-bar {
	width: 640px;
}

#intro-p {
	font-size: 14px;
	margin-top: 40px;
}

#options-tab {
	float: right;
	margin-top: 30px;
}

#error-message {
	color: red;
}

#loading-message {
	margin-top: 40px;
	margin-left: 40px;
}


/* Description of weather */
#weather-report {
	display:inline-block;
}

/* Button to search for songs to add to playlist */
#open-search-button {
    position: fixed;
    bottom: 70px;
}

#save-playlist-button {
	background: lightgray;
	position: fixed;
	bottom: 40px;
}