@import url('http://fonts.googleapis.com/css?family=Roboto:Light|Quicksand|Work+Sans:Extra-Light|Raleway:Extra-Light|Raleway:Normal|Raleway:Semi-Bold|Source+Sans+Pro:Extra-Light');
/* 
    Styles.css
    by Anna Lawson, Anfal Boussayoud, Lauren Tom, Nina Sabado 
*/

/* CITATIONS: 
/* NOTE: basic tab html & css is from basic tab tutorial at:
http://inspirationalpixels.com/tutorials/creating-tabs-with-html-css-and-jquery#step-html
with adapations by us */

/* Note: Select CSS modified from: http://cssdeck.com/labs/styling-select-box-with-css3 */

/******************** General Page Styling *********************/

/* Fonts, colors, widths */
body {
	z-index: 0;
	color: #383838;
	font-family: 'Raleway', 'Work Sans', 'Source Sans Pro', Verdana, Arial, sans-sarif;
  padding-top: 15px;
	max-width: 1400px;
}
div#center-div{
  width:80%;
  margin: 0 auto;
}

/* Headers */
h1, h2 {
	font-weight: 200; /* thin */
	margin-bottom: 0px;
}

p {
	font-size: 12px;
}

a {
	text-decoration: underline;
	color:black;
}


/* Styling */
button:hover{
  outline:none;
}
button:focus{
  outline:none;
}
input:focus{
  outline:none;
}

/* General button styling */
.g-button {
  cursor: pointer;
  cursor: hand;
	border-radius: 10px;
	border-style: solid;
  border-color: #383838;
  background-color: transparent;
  color: #383838;
  border-width: 1px;
  font-size: 12px;
  height: 22px;
}
.no-underline{
  text-decoration: none;
}

#save-playlist-button.disabled {
  color:grey;
  border:none;
  font-style: italic;
}

/* Close button */
#close-button {
  color: red;
  border: none;
  font-weight: bold;
  font-size: 18px;
  float: right;
}


/******************* Control Page Display ******************/
/** Main content of the page (i.e. the stuff below the tab bar) */
.content {
	margin-top: 20px;
	width: 748px;
}

/** Hide all body content except the one that corresponds to the selected tab */
.body-content {
	display: none;
}

.body-content.selected {
	display:block;
}

/*********************** Form Inputs **********************/
/* Form inputs */
.form-box {
	border-radius: 10px; 
	border: 1px solid #383838;
	height: 22px;
	/* In case somebody has a really old chrome/firefox/safari browser */
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px; 
	margin-right: 1px;
	padding-left: 5px;
	font-size: 12px;
	background-color: transparent;
}

/********************** Tabs ***********************/
/* NOTE: basic tab html & css is from basic tab tutorial at:
http://inspirationalpixels.com/tutorials/creating-tabs-with-html-css-and-jquery#step-html
 Adapted by Anna Lawson */
#titleLink {
  text-decoration: none;
}

.tabs {
	width: 460px;
	margin-left: 380px;
	margin-bottom:9px;
}
.tabs:after {
	display:block;
	clear:both;
	content:'';
}

.tabs li {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 5px;
  float:left;
  list-style:none;
}

.tab a {
  padding-top: 9px;
  padding-bottom: 9px;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 4px;
  border-style: solid;
  border-color: #383838;
  border-width: 1px;
  font-size: 14px;
  font-weight: 200;
  color:#383838;
  text-decoration:none;
  transition: all linear 0.15s;
}

.tabs a:hover {
	background:#a7cce5;
	text-decoration:none;
}

.tabs span {
	border-bottom: solid;
	border-bottom-width: 1px;
}

li.selected a, li.selected a:hover {
	background: transparent;
	font-weight: 400;
	color:#383838;
}

li.selected a span {
	border-bottom-width: 3px;
}

/* Hr below tab bar */
hr {
	width: 735px;
	float:left;
	margin-top: 0px;
}

/*********************** Select Dropdowns *******************/
/* Note: Select CSS modified from: http://cssdeck.com/labs/styling-select-box-with-css3 */
select {
    height:25px;
    padding:3px;
    margin: 0;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 0 white, 0 -1px #383838 inset;
    background: white;
    color:#383838;
    border-color: #383838;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    select {padding-right:25px}
}

select {
	padding-right: 30px;
}

label {position:relative}
label:after {
    content:'<>';
    font:11px "Consolas", monospace;
    color:#383838;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);
    right:8px; top:2px;
    padding:0 0 2px;
    border-bottom:1px solid #383838;
    position:absolute;
    pointer-events:none;
}
label:before {
    content:'';
    right:6px; top:0px;
    width:20px; height:20px;
    position:absolute;
    pointer-events:none;
    display:block;
}